* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: #145233;
    color: #fff;
    padding: 50px 50px;
}

.header__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 100px;
}

.header h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.header a {
    color: inherit;
}

.header__description-container {
    display: grid;
    max-width: 500px;
    text-align: left;
}

.header__description-item {
    padding: 6px;
}

.search__container {
    margin-top: 32px;
    min-width: 500px;
}

.search__input {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    background-color: transparent;
    outline: none;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    margin-top: 12px;
}

.grid-col-1 {
    grid-column: 1
}

.grid-col-2 {
    grid-column: 2
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-2 {
    grid-row: 2
}

.result_container {
    padding: 40px;
}

.results__table {
    width: 100%;
}

.results__table th {
    padding-bottom: 12px;
    text-align: left;
}

.results__numeric-cell{
    text-align: right !important;
}

.search-example {
    cursor: pointer;
    border-bottom: 1px dotted;
    padding: 1;
}